<template>
  <div class="container">
    <div class="row">
      <div class="card col-md-6" v-for="image in images">
        <img :src="image.src" class="card-img-top">
        <div class="card-body">
          <button class="btn btn-danger" @click="deleteImage(image.id)">DELETE</button>
        </div>
      </div>
    </div>
    <form method="POST" action="/images/">
      <label> 
        <input type="file" style="display:none;" accept="image/*" @change="onImageAdded" ref="imageform">
        <div class="btn btn-primary">Click here to add image</div>
      </label>
    </form>
  </div>
</template>

<script>
  import 'axios'
  export default {
    data() {
      return {
        images: []
      }
    },
    mounted() {
      console.log('Component mounted.')
      axios.get('/api/images').then((response) => {
        console.log(response)
        this.images = response.data.images
      })
    },
    methods: {
      onImageAdded() {
        let formData = new FormData()
        formData.append('image', this.$refs.imageform.files[0])
        axios.post('/api/image/create', formData).then((response) => {
          this.images = response.data.images
        })
      },
      deleteImage(id) {
        axios.delete(`/api/image/${id}`).then((response) => {
          this.images = response.data.images
        })
      }
    }
  }
</script>